*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    
    /* justify-content: space-around; */
     /* border: 2px solid blue; */
     margin-top: 20px;
}

body{
    overflow-x: hidden;
}

ul img{
    width: 25px;
    height: 25px;
}

nav{
    display: flex;
    justify-content: space-around;
}

ul{
    display: flex;
    justify-content: center;
    gap: 50px;
    /* border: 2px solid blue; */
    font-size: 30px;
    list-style: none;
}

li a{
    text-decoration: none;
    color: black;
}

.pods{
    display: flex;
    justify-content: center;
    gap: 70px;
    margin-top: 30px;
    font-size: 28px;
}

.pods img{
width: 70px;
height: 60px;
}

@keyframes max {
    from{
        transform: scale(20%);
    }

    to{
        transform: scale(100%);
    }
}

@keyframes text {
    from{
        transform: scale(100%);
    }

    to{
        transform: scale(10%);
    }
}

.landing{
    margin-top: 140px;
    display: flex;
    justify-content: space-around;
    animation: max 7s ease-in-out;
}

.landing img{
width: 900px;
height: 1000px;
z-index: 2;
}

/* .landing img:nth-of-type(1){
    width: 1000px;
}
.landing img:nth-of-type(2){
    position: relative;
    top: 200px;
} */

.text{
    animation: text 7s ease-in-out;
    position: relative;
    left: 40px;
    bottom: 800px;
    font-size: 30px;
    text-align: center;
    z-index: 1;
}

.text h1{
    font-size: 400px;
    position: relative;
    bottom: 30opx;
    /* animation: fly 0.8s ease-in-out reverse; */
}

@keyframes fly {
    from{
        transform: translateX(-50%);
    }

    to{
        transform: translateX(50%);
    }
}

.btnndlink{
    text-align: center;
    font-size: 30px;
}

button{
    background-color: blue;
    color: white;
    border-radius: 20px;
    font-size: 25px;
    padding: 10px;
}

.btnndlink a{
text-decoration: none;
color: blue;
}

.landin{
     margin-top: 140px;
     display: flex;
     justify-content: space-around;
     padding: 0 70px;
     /* z-index: 2; */
    /* width: 20px;
    position: relative;
    left: 1300px; */
}

@keyframes ewooo {
    from{
        transform: scale(20%);
    }

    to{
        transform: scale(100%);
    }
}

@keyframes yo {
    from{
        transform: scale(20%);
    }

    to{
        transform: scale(100%);
    }
}

@keyframes tex {
    from{
        transform: scale(100%);
    }

    to{
        transform: scale(20%);
    }
}

.landin img:nth-of-type(2){
    position: relative;
    top: 500px;
    z-index: 2;
    animation: ewooo 5s ease-in-out;
}

.landin img:nth-of-type(1){
    
    z-index: 2;
    animation: yo 5s ease-in-out ;
}

.tex{
     text-align: center;
     position: relative;
     bottom: 1400px;
     right: 40px;
     font-size: 30px;
     animation: tex 5s ease-in-out;
}

.tex h1{
    font-size: 380px;
    z-index: 1;
}

.btnndlinks{
    text-align: center;
    position: relative;
    bottom: 900px;
    font-size: 50px;
}

.btnndlinks a{
    text-decoration: none;
    color: blue;
}

h1{
    text-align: center;
    font-size: 100px;
    margin-top: 50px;
}

.grid{
    margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 50px;
  font-size: 30px;
}

.grid img{
height: 130px;
width: 90px;
}

.people-icons{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 28px;
    font-size: 29px;
    /* border: 2px solid blue; */
    width: 800px;
    margin-left: 1700px;
   
}

.iconshii{
     padding-left: 30px;
}

.picons{
    display: flex;
    justify-content: center;
    gap: 28px;
     margin-top: 50px;
     margin-left: 900px;
     font-size: 30px;
}

